@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* .gradient {
      @apply bg-gradient-to-br from-gray-500 via-gray-200 to-white;
    }
    .gradient-title {
      @apply gradient text-transparent bg-clip-text;
    } */
  }
nav{
  /* background-image: linear-gradient(to bottom, #f3e7e9 5%, #e3eeff 25%, #e3eeff 50%); */
}
.s1{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.hero-img{
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}
.s2{
    background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.s2-shadow{
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}
.s3{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
li::marker {
    color: #ff725e;
  }
.s4{
    background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.goog-logo-link {
  display:none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  background-color: transparent;
  border: 2px solid #263238;
  background-color: #ff725e;
  font-weight: bold;
  box-shadow: 3px 3px 0px 0px rgba(178, 80, 66, 1);
  border-radius: 6px;
  padding: 2px;
  color: #263238 !important;
}
#google_translate_element {
  color: transparent;
}

#google_translate_element a {
  display: none;
}