@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* .gradient {
      @apply bg-gradient-to-br from-gray-500 via-gray-200 to-white;
    }
    .gradient-title {
      @apply gradient text-transparent bg-clip-text;
    } */
  }

.s1{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.hero-img{
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}
.s2{
    background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.s2-shadow{
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}
.s3{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
li::marker {
    color: #ff725e;
  }
.s4{
    background-image: linear-gradient(to bottom, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
